@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --hud-opacity: 0;
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

.enter {
  
}

.container {
  position: absolute;
  width: 100%;
  background-color: transparant;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  margin-top: 1vh;
  margin-right: 20vw;
  background: rgba(0, 0, 0, var(--hud-opacity));
  backdrop-filter: blur(5px);
  border-radius: 9px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.logo {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}

.crop img {
    width: 60%;
    height: auto;
}

.crop object {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -75px;
}

nav ul li {
    color: #fff;
  display: inline-block;
  list-style: none;
  font-size: 1rem;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
nav ul li:after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffcc00;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:visited {
  color:#ffffff;
}

svg {
    border: 1px solid black;
    /* filter: ; */
}

/* ---------------------------------------------- */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  /* width: 50%; */
  background-color: transparant;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
}

.container-footer {
  width: 70%;
  margin: 0 auto;
  padding: 0 50px;
  align-items: end;
}

.footer-logo img {
    width: 60%;
    height: auto;
}

.footer-logo object {
    width: 200px;
    height: 150px;
    margin: -37px 0 0 -37px;
}


.footer-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
  }
  .footer-menu{
      text-align: left;
  }
  .footer-menu li {
    display: block;
    margin-bottom: 10px;
  }
}

.attribute{
  position: absolute;
  bottom: 10px;
}

/* ------------------------------------------ */

.hero-section {
  align-items: flex-start;
  background-color: red;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  position: absolute;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52vh;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 55%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.product-details-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  background-color: transparent;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 25%;
}

/* ------------------------------------------ */

.history-section {
  align-items: flex-start;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  position: absolute;
  width: 80%;
  text-align: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52vh;
}

.link-section {
  align-items: flex-start;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--spacing-xxl) var(--spacing-l);
  position: absolute;
  width: 80%;
  text-align: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-top: 52vh;
}
